header, .project:not(:last-child) {
  border-bottom: 1px solid #c9a3a3;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #375e70;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #0ac90a;
  font-weight: bold;
  margin-left: -5px;
}
body{
  background-color: rgb(236, 222, 152);
}